@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.4)
    ),
    url("/public/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@layer components {
  .bg-glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 
            hover:bg-gray-600/10  text-white;
  }
  .input {
    @apply bg-transparent focus:outline-none text-white text-[16px];
  }
  .main-btn {
    @apply text-lg px-4 py-[6px] bg-main rounded-lg font-semibold border border-main hover:bg-transparent hover:text-main transition;
  }
  .field-container {
    @apply flex gap-2 flex-col;
  }
  .label {
    @apply text-lg font-semibold;
  }
  .form-input {
    @apply focus:outline-none text-white text-[16px] focus:border bg-[#5C4755]/40 focus:border-main p-2 rounded-md;
  }
  .error {
    @apply text-sm -mt-1 text-red-600 px-2  font-semibold;
  }
  .input-error {
    @apply border-2 focus:border-2 border-red-600 ring-1 ring-red-500 focus:ring-red-500;
  }
  .load-btn {
    @apply cursor-not-allowed bg-main/50 border-main/50 hover:bg-main/50 hover:text-white;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: #05010d;
}
::-webkit-scrollbar-thumb {
  background-color: #dc2241;
  border-radius: 10px;
}
