@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.4)
    ),
    url("/public/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@layer components {
  .bg-glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 
            hover:bg-gray-600/10  text-white;
  }
  .input {
    @apply bg-transparent focus:outline-none text-white text-[16px];
  }
  .main-btn {
    @apply text-lg px-4 py-[6px] bg-main rounded-lg font-semibold border border-main hover:bg-transparent hover:text-main transition;
  }
  .field-container {
    @apply flex gap-2 flex-col;
  }
  .label {
    @apply text-lg font-semibold;
  }
  .form-input {
    @apply focus:outline-none text-white text-[16px] focus:border bg-[#5C4755]/40 focus:border-main p-2 rounded-md;
  }
  .error {
    @apply text-sm -mt-1 text-red-600 px-2  font-semibold;
  }
  .input-error {
    @apply border-2 focus:border-2 border-red-600 ring-1 ring-red-500 focus:ring-red-500;
  }
  .load-btn {
    @apply cursor-not-allowed bg-main/50 border-main/50 hover:bg-main/50 hover:text-white;
  }
  .google-btn {
    @apply main-btn border-blue-700 flex items-center gap-1 justify-center hover:border-blue-900 hover:text-white hover:bg-blue-900 bg-blue-700 flex-1;
  }
  .google-btn-load {
    @apply opacity-30 cursor-not-allowed;
  }
  .dashboard-sidebar {
    @apply fixed w-full z-10 md:z-0 h-fit md:min-h-screen bottom-0 
    left-0 md:static md:w-[20%] bg-glass text-lg 
    p-4  md:rounded-md 
    md:bg-gray-600/10 bg-gray-600/40 flex flex-row  gap-4 justify-between md:flex-col md:justify-start;
  }
  .dashboard-main {
    @apply w-full bg-glass p-4 rounded-md md:w-[80%] bg-gray-600/10;
  }
  .sidebar-link {
    @apply flex w-full justify-between flex-wrap gap-4 mb-4 font-semibold items-center text-lg p-3 hover:bg-[#261C28] hover:text-main transition rounded-md cursor-pointer;
  }
  .file-label {
    @apply absolute w-[40px] h-[40px] hover:text-main transition cursor-pointer flex items-center justify-center rounded-full bottom-0 bg-[#261C28] right-4;
  }
  .secondary-btn {
    @apply text-[17px] text-main px-3 py-2 w-fit bg-slate-900 font-semibold  mx-auto rounded-md hover:bg-slate-950 transition;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: #05010d;
}
::-webkit-scrollbar-thumb {
  background-color: #dc2241;
  border-radius: 10px;
}

path.CircularProgressbar-path {
  stroke: #dc2241 !important;
}

path.CircularProgressbar-trail {
  stroke: #261c29 !important;
}
